@page "/audit"
@inject IHttpClientFactory ClientFactory

<Card>
    <CardHeader>
        <CardTitle>
            <Icon class="icon me-2" IconType="@TablerIcons.Search" />Audit Log Viewer
        </CardTitle>
        <CardActions>
            <Button BackgroundColor="TablerColor.Primary" OnClick="Refresh">
                <Icon class="icon me-1" IconType="@TablerIcons.Refresh" />Refresh
            </Button>
        </CardActions>
    </CardHeader>
    <CardBody>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }

        <Table Item="AuditLogDto" Items="auditList" PageSize="20" Hover Responsive>
            <ChildContent>
                <Column Item="AuditLogDto" Property="a => a.Timestamp" Title="When" Sortable />
                <Column Item="AuditLogDto" Property="a => a.UserName" Title="User" Searchable Sortable />
                <Column Item="AuditLogDto" Property="a => a.Action" Title="Action" Searchable Sortable>
                    <Template>
                        @switch (context.Action)
                        {
                            case "Create":
                                <span class="badge bg-green-lt">Create</span>
                                break;
                            case "Update":
                                <span class="badge bg-blue-lt">Update</span>
                                break;
                            case "Delete":
                                <span class="badge bg-red-lt">Delete</span>
                                break;
                            default:
                                <span class="badge bg-secondary-lt">@context.Action</span>
                                break;
                        }
                    </Template>
                </Column>
                <Column Item="AuditLogDto" Property="a => a.EntityType" Title="Type" Searchable Sortable />
                <Column Item="AuditLogDto" Property="a => a.EntityKey" Title="Key" Searchable Sortable />
                <Column Item="AuditLogDto" Property="a => a.EntityName" Title="Name" Searchable Sortable />
                <Column Item="AuditLogDto" Property="a => a.ClientIp" Title="Client IP" Searchable Sortable />
            </ChildContent>
        </Table>
    </CardBody>
</Card>

@code {
    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<AuditLogDto> auditList = new();

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI");
        await Refresh();
    }

    private async Task Refresh()
    {
        IsLoaded = false;
        auditList = await client.GetFromJsonAsync<List<AuditLogDto>>("api/Audit") ?? [];
        IsLoaded = true;
    }
}
