@page "/events"
@using DoorsWeb.Shared.Models
@using Microsoft.AspNetCore.SignalR.Client
@inject IHttpClientFactory ClientFactory


<Table Item="EventListDto" Items="eventList" PageSize="10"
       Hover Responsive EditMode=TableEditMode.Inline>
    <HeaderTemplate>

    </HeaderTemplate>

    <ChildContent>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }
        <Column Item="EventListDto" Property="e => e.Id" Title="Event Id" Width="50px" Sortable Visible="false">
        </Column>
        <Column Item="EventListDto" Property="e => e.UserName" Title="User" Searchable Sortable>
        </Column>
        <Column Item="EventListDto" Property="e => e.CardNumber" Title="Card#"  Searchable Sortable>
        </Column>
        <Column Item="EventListDto" Property="e => e.DoorName" Title="Door"  Searchable Sortable>
        </Column>
        <Column Item="EventListDto" Property="e => e.ReaderName" Title="Reader" Searchable Sortable>
        </Column>
        <Column Item="EventListDto" Property="e => e.EventName" Title="Event" Searchable Sortable>
        </Column>
        <Column Item="EventListDto" Property="e => e.TimeStamp" Title="Time" Searchable Sortable>
        </Column>
    </ChildContent>
</Table>



@code {
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; } = null!;
    [Inject] TabBlazor.Services.IModalService ModalService { get; set; } = null!;
    private HubConnection? hubConnection;
    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<EventListDto> eventList = new List<EventListDto>();

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI"); //this is where base setting locate
        eventList = await client.GetFromJsonAsync<List<EventListDto>>("api/Event") ?? [];
        IsLoaded = true;

        hubConnection = new HubConnectionBuilder().WithUrl("https://localhost:60879/eventHub").WithAutomaticReconnect().Build();
        hubConnection.On<EventListDto>("NewEvent", (EvtDto) =>
        {
            eventList.Add(EvtDto);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync(); // Last thing in line
    }

}
