@page "/events"
@using DoorsWeb.Shared.DTO
@using Microsoft.AspNetCore.SignalR.Client
@inject IHttpClientFactory ClientFactory


<Table Item="EventDto" Items="eventList" PageSize="10"
       Hover Responsive>
    <HeaderTemplate>

    </HeaderTemplate>

    <ChildContent>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }
        <Column Item="EventDto" Property="e => e.EventId" Title="Event Id" Width="50px" Sortable Visible="false">
        </Column>
        <Column Item="EventDto" Property="e => e.CardHolder" Title="User" Searchable Sortable>
        </Column>
        <Column Item="EventDto" Property="e => e.CardNumber" Title="Card#" Searchable Sortable>
        </Column>
        <Column Item="EventDto" Property="e => e.DoorName" Title="Door" Searchable Sortable>
        </Column>
        <Column Item="EventDto" Property="e => e.ReaderId" Title="Reader" Searchable Sortable>
        </Column>
        <Column Item="EventDto" Property="e => e.EventName" Title="Event" Searchable Sortable>
        </Column>
        <Column Item="EventDto" Property="e => e.EventDate" Title="Time" Searchable Sortable>
        </Column>
    </ChildContent>
</Table>



@code {
    [Inject] TabBlazor.Services.TablerService TablerService { get; set; } = null!;
    [Inject] TabBlazor.Services.IModalService ModalService { get; set; } = null!;
    private HubConnection? hubConnection;
    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<EventDto> eventList = new List<EventDto>();

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI"); //this is where base setting locate
        eventList = await client.GetFromJsonAsync<List<EventDto>>("api/Event") ?? [];
        IsLoaded = true;

        hubConnection = new HubConnectionBuilder().WithUrl("https://localhost:60879/eventHub").WithAutomaticReconnect().Build();
        hubConnection.On<EventDto>("NewEvent", (EvtDto) =>
        {
            eventList.Add(EvtDto);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync(); // Last thing in line
    }

}
