@page "/events"
@using DoorsWeb.Shared.DTO
@using Microsoft.AspNetCore.SignalR.Client
@inject IHttpClientFactory ClientFactory
@implements IAsyncDisposable

<Card>
    <CardHeader>
        <CardTitle>
            <Icon class="icon me-2" IconType="@TablerIcons.Search" />Events
        </CardTitle>
        <CardActions class="ms-auto">
            <Button Color="TablerColor.Primary" OnClick="Refresh">
                <Icon class="icon me-1" IconType="@TablerIcons.Refresh" />Refresh
            </Button>
        </CardActions>
    </CardHeader>
    <CardBody>
        @if (!IsLoaded)
        {
            <Progress Color="TablerColor.Blue" Indeterminate />
        }
        else
        {
            <Table Item="EventDto" Items="eventList" PageSize="10" Hover Responsive>
                <ChildContent>
                    <Column Item="EventDto" Property="e => e.EventId" Title="Event Id" Width="50px" Sortable Visible="false" />
                    <Column Item="EventDto" Property="e => e.CardHolder" Title="User" Searchable Sortable />
                    <Column Item="EventDto" Property="e => e.CardNumber" Title="Card#" Searchable Sortable />
                    <Column Item="EventDto" Property="e => e.DoorName" Title="Door" Searchable Sortable />
                    <Column Item="EventDto" Property="e => e.ReaderId" Title="Reader" Searchable Sortable />
                    <Column Item="EventDto" Property="e => e.EventName" Title="Event" Searchable Sortable />
                    <Column Item="EventDto" Property="e => e.EventDate" Title="Time" Searchable Sortable />
                </ChildContent>
            </Table>
            @if (eventList.Count == 0)
            {
                <div class="text-muted text-center py-4">No events found.</div>
            }
        }
    </CardBody>
</Card>

@code {
    private HubConnection? hubConnection;
    private bool IsLoaded = false;
    private HttpClient client = new HttpClient();
    private List<EventDto> eventList = new List<EventDto>();

    protected override async Task OnInitializedAsync()
    {
        client = ClientFactory.CreateClient("WebAPI"); //this is where base setting locate
        await Refresh();

        hubConnection = new HubConnectionBuilder().WithUrl("https://localhost:60879/eventHub").WithAutomaticReconnect().Build();
        hubConnection.On<EventDto>("NewEvent", (EvtDto) =>
        {
            eventList.Insert(0, EvtDto);
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync(); // Last thing in line
    }

    private async Task Refresh()
    {
        IsLoaded = false;
        eventList = await client.GetFromJsonAsync<List<EventDto>>("api/Event") ?? [];
        IsLoaded = true;
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}
