@page "/not-found"
@attribute [AllowAnonymous]
@layout MainLayout



<div class="d-flex justify-content-center align-items-center">
<Icon class="icon" IconType="@TablerIcons.NotFound404" Size="100" />
<h1>404</h1>
<h3>Sorry, there's nothing2see at this address.</h3>
</div>
